# Lecture 5 Mar 2025
## SQL

In [2]:
!pip install ipython-sql

Collecting ipython-sql
  Using cached ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.15.1-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: ipython in ./.venv/lib/python3.12/site-packages (from ipython-sql) (8.31.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading SQLAlchemy-2.0.38-cp312-cp312-macosx_11_0_arm64.whl.metadata (9.6 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in ./.venv/lib/python3.12/site-packages (from ipython-sql) (1.17.0)
Collecting ipython-genutils (from ipython-sql)
  Using cached ipython_genutils-0.2.0-py2.py3-none-any.whl.metadata (755 bytes)
Requirement already satisfied: typing-extensions>=4.6.0 in ./.venv/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in ./.venv/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in ./.venv/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in ./.venv/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in ./.venv/lib/python3.12/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in ./.venv/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in ./.venv/lib/python3.12/site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in ./.venv/lib/python3.12/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in ./.venv/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in ./.venv/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in ./.venv/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in ./.venv/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in ./.venv/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in ./.venv/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in ./.venv/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Using cached ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading SQLAlchemy-2.0.38-cp312-cp312-macosx_11_0_arm64.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 33.0 MB/s eta 0:00:00
Using cached ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Downloading prettytable-3.15.1-py3-none-any.whl (33 kB)
Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
Installing collected packages: ipython-genutils, sqlparse, sqlalchemy, prettytable, ipython-sql
Successfully installed ipython-genutils-0.2.0 ipython-sql-0.5.0 prettytable-3.15.1 sqlalchemy-2.0.38 sqlparse-0.5.3

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: pip install --upgrade pip

In [5]:
%load_ext sql

In [16]:
import sqlite3

In [28]:
%%capture
%load_ext sql
%sql sqlite:///acs-1-year-2015.sqlite

In [31]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [32]:
%%sql
SELECT name FROM sqlite_master  
WHERE type = 'table'

 * sqlite:///acs-1-year-2015.sqlite
Done.

[('states',),
 ('congressional_districts',),
 ('places',),
 ('ages',),
 ('favorite_colors',)]

In [33]:
%%sql
SELECT * FROM states

 * sqlite:///acs-1-year-2015.sqlite
Done.

[(2015, 'Alabama', '04000US01', 4858979, 3204076, 1296681, 192870, 58918, 19069, 2566, 5590, 38.7, 1846390, 134100, 44765, 44765, 876016, 169972, '01'),
 (2015, 'Alaska', '04000US02', 738432, 452472, 24739, 51825, 45753, 98300, 6341, 2201, 33.3, 250185, 259600, 73355, 73355, 74532, 58544, '02'),
 (2015, 'Arizona', '04000US04', 6828065, 3802263, 282718, 2098411, 210922, 276132, 9963, 6951, 37.4, 2463008, 194300, 51492, 51492, 1159043, 914400, '04'),
 (2015, 'Arkansas', '04000US05', 2978204, 2174934, 466486, 207743, 41932, 18221, 7551, 3826, 37.9, 1144663, 120700, 41995, 41995, 550508, 142841, '05'),
 (2015, 'California', '04000US06', 39144818, 14815122, 2192844, 15184545, 5476958, 135866, 143408, 87813, 36.2, 12896357, 449100, 64500, 64500, 5891678, 10688336, '06'),
 (2015, 'Colorado', '04000US08', 5456574, 3737243, 213389, 1164278, 158584, 26239, 8499, 13900, 36.4, 2074735, 283800, 63909, 63909, 613549, 537066, '08'),
 (2015, 'Connecticut', '04000US09', 3590886, 2439796, 355469, 553783, 155610, 4235, 468, 9375, 40.6, 1343703, 270900, 71346, 71346, 366909, 519648, '09'),
 (2015, 'Delaware', '04000US10', 945934, 596375, 200433, 85306, 35950, 2397, 265, 3242, 39.7, 352595, 240200, 61255, 61255, 114360, 87509, '10'),
 (2015, 'District of Columbia', '04000US11', 672228, 241855, 312914, 71129, 25633, 959, 367, 2976, 33.8, 281787, 551300, 75628, 75628, 110500, 95117, '11'),
 (2015, 'Florida', '04000US12', 20271272, 11170487, 3145615, 4962905, 534389, 33659, 9616, 57413, 41.8, 7463184, 179800, 49426, 49426, 3116886, 4086240, '12'),
 (2015, 'Georgia', '04000US13', 10214860, 5482711, 3159854, 950093, 383994, 17727, 3575, 31433, 36.4, 3656407, 159300, 51244, 51244, 1694988, 1023717, '13'),
 (2015, 'Hawaii', '04000US15', 1431603, 326152, 27530, 148705, 517419, 2239, 125452, 1694, 37.7, 445936, 566900, 73486, 73486, 147984, 253414, '15'),
 (2015, 'Idaho', '04000US16', 1654930, 1367034, 8828, 199840, 20415, 18837, 1675, 468, 35.8, 597421, 176300, 48275, 48275, 245551, 94364, '16'),
 (2015, 'Illinois', '04000US17', 12859995, 7948431, 1813447, 2171988, 669595, 13082, 3191, 17864, 37.7, 4794523, 180300, 59588, 59588, 1703258, 1826156, '17'),
 (2015, 'Indiana', '04000US18', 6619680, 5288882, 596275, 439094, 137392, 14075, 2314, 7004, 37.5, 2515143, 131000, 50532, 50532, 933181, 321308, '18'),
 (2015, 'Iowa', '04000US19', 3123899, 2710477, 104348, 174318, 68134, 8819, 3021, 3287, 38.1, 1247249, 136100, 54736, 54736, 367414, 148721, '19'),
 (2015, 'Kansas', '04000US20', 2911641, 2223659, 168293, 336321, 82812, 21208, 1380, 1472, 36.2, 1111582, 141200, 53906, 53906, 368879, 205720, '20'),
 (2015, 'Kentucky', '04000US21', 4425092, 3768120, 351192, 146127, 59378, 7474, 2601, 3835, 38.8, 1716168, 130000, 45215, 45215, 794055, 157336, '21'),
 (2015, 'Louisiana', '04000US22', 4670724, 2754976, 1491831, 228578, 80565, 20825, 887, 9901, 36.4, 1737908, 155600, 45727, 45727, 889946, 186369, '22'),
 (2015, 'Maine', '04000US23', 1329328, 1244002, 13854, 20152, 13086, 8490, 569, 423, 44.6, 545226, 180300, 51494, 51494, 172620, 44694, '23'),
 (2015, 'Maryland', '04000US24', 6006401, 3115032, 1743829, 572263, 382537, 10346, 2395, 20457, 38.3, 2177934, 299800, 75847, 75847, 570776, 911582, '24'),
 (2015, 'Massachusetts', '04000US25', 6794422, 4958598, 459884, 757948, 428592, 7162, 680, 49348, 39.4, 2559951, 352100, 70628, 70628, 752071, 1095953, '25'),
 (2015, 'Michigan', '04000US26', 9922576, 7486419, 1363082, 485972, 292298, 46056, 3235, 15331, 39.7, 3858532, 137500, 51084, 51084, 1529645, 652090, '26'),
 (2015, 'Minnesota', '04000US27', 5489594, 4441640, 313157, 282040, 257059, 50234, 1520, 6325, 37.9, 2147262, 200000, 63488, 63488, 546431, 457185, '27'),
 (2015, 'Mississippi', '04000US28', 2992333, 1705044, 1126326, 85758, 30540, 11359, 737, 1686, 37.0, 1104371, 112700, 40593, 40593, 637128, 72258, '28'),
 (2015, 'Missouri', '04000US29', 6083672, 4858768, 704787, 240413, 113912, 22726, 5522, 4647, 38.4, 2374180, 147800, 50238, 50238, 875495, 242761, '29'),
 (2015, 'Montana', '04000US30', 1032949, 894545, 4289, 37302, 8643, 62709, 1034, 141, 39.9, 414804, 209500, 49509, 49509, 147287, 21356, '30'),
 (2015, 'Nebraska', '04000US31', 1896190, 1518020, 88318, 196968, 39535, 14620, 826, 2254, 36.1, 744159, 141600, 54996, 54996, 231321, 128390, '31'),
 (2015, 'Nevada', '04000US32', 2890845, 1460688, 236568, 813394, 228306, 24442, 16224, 6922, 37.8, 1042065, 221400, 52431, 52431, 418243, 558170, '32'),
 (2015, 'New Hampshire', '04000US33', 1330608, 1210017, 18495, 44355, 33774, 1169, 254, 1204, 42.8, 517615, 244500, 70303, 70303, 106046, 79959, '33'),
 (2015, 'New Jersey', '04000US34', 8958013, 5020807, 1134226, 1762179, 842221, 7968, 2707, 32153, 39.6, 3187963, 322600, 72222, 72222, 946114, 1977325, '34'),
 (2015, 'New Mexico', '04000US35', 2085109, 798109, 41597, 1001264, 27542, 177529, 859, 3593, 37.4, 761797, 164100, 45382, 45382, 417834, 196955, '35'),
 (2015, 'New York', '04000US36', 19795791, 11050851, 2845960, 3725193, 1659534, 40131, 5162, 111653, 38.3, 7233694, 293500, 60850, 60850, 2970032, 4530087, '36'),
 (2015, 'North Carolina', '04000US37', 10042802, 6387868, 2141818, 911674, 266004, 109502, 2967, 22054, 38.4, 3843745, 160100, 47830, 47830, 1607835, 794684, '37'),
 (2015, 'North Dakota', '04000US38', 756928, 650304, 15387, 26059, 9696, 36789, 445, 434, 34.9, 313475, 180900, 60557, 60557, 80170, 28649, '38'),
 (2015, 'Ohio', '04000US39', 11613423, 9255663, 1409506, 411202, 231436, 15744, 3920, 14978, 39.3, 4606655, 136400, 51075, 51075, 1674415, 503911, '39'),
 (2015, 'Oklahoma', '04000US40', 3911338, 2597511, 280826, 396464, 77928, 273042, 3285, 5125, 36.3, 1465951, 126800, 48568, 48568, 610828, 235350, '40'),
 (2015, 'Oregon', '04000US41', 4028977, 3082611, 73428, 511898, 162545, 37993, 13359, 3090, 39.1, 1553205, 264100, 54148, 54148, 607029, 397293, '41'),
 (2015, 'Pennsylvania', '04000US42', 12802503, 9890644, 1349101, 870209, 416992, 12314, 2403, 21208, 40.7, 4956037, 170600, 55702, 55702, 1629995, 837159, '42'),
 (2015, 'Rhode Island', '04000US44', 1056298, 775163, 57364, 152085, 35120, 3342, 211, 6679, 39.7, 407484, 241000, 58073, 58073, 141035, 142324, '44'),
 (2015, 'South Carolina', '04000US45', 4896146, 3119807, 1331987, 262555, 70215, 12190, 3109, 6193, 39.0, 1857768, 148600, 47238, 47238, 790715, 232749, '45'),
 (2015, 'South Dakota', '04000US46', 858469, 710681, 12807, 30079, 11901, 68201, 712, 1723, 36.9, 339437, 152800, 53017, 53017, 114071, 27845, '46'),
 (2015, 'Tennessee', '04000US47', 6600299, 4899807, 1100868, 333460, 106375, 17603, 2735, 11869, 38.7, 2530260, 150600, 47275, 47275, 1077900, 331570, '47'),
 (2015, 'Texas', '04000US48', 27469114, 11795062, 3209454, 10672216, 1236884, 66303, 18211, 36412, 34.4, 9421412, 152000, 55653, 55653, 4255517, 4671295, '48'),
 (2015, 'Utah', '04000US49', 2995919, 2364160, 32498, 409310, 68148, 29584, 23628, 2781, 30.6, 930980, 234600, 62912, 62912, 331854, 244467, '49'),
 (2015, 'Vermont', '04000US50', 626042, 584851, 7694, 10422, 8627, 2277, 282, 950, 43.1, 254865, 223700, 56990, 56990, 61314, 28247, '50'),
 (2015, 'Virginia', '04000US51', 8382993, 5239479, 1583049, 753353, 519910, 16415, 5057, 23466, 37.8, 3106895, 257800, 66262, 66262, 909346, 1018626, '51'),
 (2015, 'Washington', '04000US53', 7170351, 4996873, 253220, 886419, 563704, 82481, 45576, 9933, 37.5, 2728573, 284000, 64129, 64129, 857801, 980158, '53'),
 (2015, 'West Virginia', '04000US54', 1844128, 1702065, 69610, 26663, 14078, 2076, 479, 1489, 42.2, 734536, 112100, 42019, 42019, 321583, 29522, '54'),
 (2015, 'Wisconsin', '04000US55', 5771337, 4721683, 357021, 381149, 154713, 47345, 1396, 4447, 39.4, 2319538, 168300, 55638, 55638, 677964, 278981, '55'),
 (2015, 'Wyoming', '04000US56', 586107, 492659, 4704, 57845, 4885, 12140, 237, 96, 36.5, 228937, 212500, 60214, 60214, 63425, 21999, '56'),
 (2015, 'Puerto Rico', '04000US72', 3474182, 26431, 3291, 3437388, 2832, 19, 0, 2656, 40.0, 1221851, 114100, 18626, 18626, None, None, '72')]

In [35]:
%%sql
SELECT COUNT(*)
FROM states

 * sqlite:///acs-1-year-2015.sqlite
Done.

[(52,)]

In [36]:
%%sql
SELECT name
FROM states

 * sqlite:///acs-1-year-2015.sqlite
Done.

[('Alabama',),
 ('Alaska',),
 ('Arizona',),
 ('Arkansas',),
 ('California',),
 ('Colorado',),
 ('Connecticut',),
 ('Delaware',),
 ('District of Columbia',),
 ('Florida',),
 ('Georgia',),
 ('Hawaii',),
 ('Idaho',),
 ('Illinois',),
 ('Indiana',),
 ('Iowa',),
 ('Kansas',),
 ('Kentucky',),
 ('Louisiana',),
 ('Maine',),
 ('Maryland',),
 ('Massachusetts',),
 ('Michigan',),
 ('Minnesota',),
 ('Mississippi',),
 ('Missouri',),
 ('Montana',),
 ('Nebraska',),
 ('Nevada',),
 ('New Hampshire',),
 ('New Jersey',),
 ('New Mexico',),
 ('New York',),
 ('North Carolina',),
 ('North Dakota',),
 ('Ohio',),
 ('Oklahoma',),
 ('Oregon',),
 ('Pennsylvania',),
 ('Puerto Rico',),
 ('Rhode Island',),
 ('South Carolina',),
 ('South Dakota',),
 ('Tennessee',),
 ('Texas',),
 ('Utah',),
 ('Vermont',),
 ('Virginia',),
 ('Washington',),
 ('West Virginia',),
 ('Wisconsin',),
 ('Wyoming',)]

In [37]:
%%sql
SELECT name, 
    total_households, 
    per_capita_income
FROM states

 * sqlite:///acs-1-year-2015.sqlite
Done.

[('Alabama', 1846390, 44765),
 ('Alaska', 250185, 73355),
 ('Arizona', 2463008, 51492),
 ('Arkansas', 1144663, 41995),
 ('California', 12896357, 64500),
 ('Colorado', 2074735, 63909),
 ('Connecticut', 1343703, 71346),
 ('Delaware', 352595, 61255),
 ('District of Columbia', 281787, 75628),
 ('Florida', 7463184, 49426),
 ('Georgia', 3656407, 51244),
 ('Hawaii', 445936, 73486),
 ('Idaho', 597421, 48275),
 ('Illinois', 4794523, 59588),
 ('Indiana', 2515143, 50532),
 ('Iowa', 1247249, 54736),
 ('Kansas', 1111582, 53906),
 ('Kentucky', 1716168, 45215),
 ('Louisiana', 1737908, 45727),
 ('Maine', 545226, 51494),
 ('Maryland', 2177934, 75847),
 ('Massachusetts', 2559951, 70628),
 ('Michigan', 3858532, 51084),
 ('Minnesota', 2147262, 63488),
 ('Mississippi', 1104371, 40593),
 ('Missouri', 2374180, 50238),
 ('Montana', 414804, 49509),
 ('Nebraska', 744159, 54996),
 ('Nevada', 1042065, 52431),
 ('New Hampshire', 517615, 70303),
 ('New Jersey', 3187963, 72222),
 ('New Mexico', 761797, 45382),
 ('New York', 7233694, 60850),
 ('North Carolina', 3843745, 47830),
 ('North Dakota', 313475, 60557),
 ('Ohio', 4606655, 51075),
 ('Oklahoma', 1465951, 48568),
 ('Oregon', 1553205, 54148),
 ('Pennsylvania', 4956037, 55702),
 ('Rhode Island', 407484, 58073),
 ('South Carolina', 1857768, 47238),
 ('South Dakota', 339437, 53017),
 ('Tennessee', 2530260, 47275),
 ('Texas', 9421412, 55653),
 ('Utah', 930980, 62912),
 ('Vermont', 254865, 56990),
 ('Virginia', 3106895, 66262),
 ('Washington', 2728573, 64129),
 ('West Virginia', 734536, 42019),
 ('Wisconsin', 2319538, 55638),
 ('Wyoming', 228937, 60214),
 ('Puerto Rico', 1221851, 18626)]

In [38]:
%%sql
SELECT name, total_households, per_capita_income
FROM states
LIMIT 5

 * sqlite:///acs-1-year-2015.sqlite
Done.

[('Alabama', 1846390, 44765),
 ('Alaska', 250185, 73355),
 ('Arizona', 2463008, 51492),
 ('Arkansas', 1144663, 41995),
 ('California', 12896357, 64500)]

In [39]:
# If it was MSSQL Server
# %%sql
# SELECT TOP 5 name, total_households, per_capita_income
# FROM states

 * sqlite:///acs-1-year-2015.sqlite
(sqlite3.OperationalError) near "5": syntax error
[SQL: SELECT TOP 5 name, total_households, per_capita_income
FROM states]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [40]:
%%sql
SELECT name, total_households, per_capita_income
FROM states
ORDER BY per_capita_income
LIMIT 5

 * sqlite:///acs-1-year-2015.sqlite
Done.

[('Puerto Rico', 1221851, 18626),
 ('Mississippi', 1104371, 40593),
 ('Arkansas', 1144663, 41995),
 ('West Virginia', 734536, 42019),
 ('Alabama', 1846390, 44765)]

In [41]:
%%sql
SELECT name, total_households, per_capita_income
FROM states
ORDER BY per_capita_income DESC
LIMIT 5

 * sqlite:///acs-1-year-2015.sqlite
Done.

[('Maryland', 2177934, 75847),
 ('District of Columbia', 281787, 75628),
 ('Hawaii', 445936, 73486),
 ('Alaska', 250185, 73355),
 ('New Jersey', 3187963, 72222)]

In [42]:
%%sql
SELECT *
FROM states
WHERE name = 'California'

 * sqlite:///acs-1-year-2015.sqlite
Done.

[(2015, 'California', '04000US06', 39144818, 14815122, 2192844, 15184545, 5476958, 135866, 143408, 87813, 36.2, 12896357, 449100, 64500, 64500, 5891678, 10688336, '06')]

In [44]:
%%sql
SELECT name, total_households, per_capita_income
FROM states
WHERE name = 'California'
ORDER BY per_capita_income DESC

 * sqlite:///acs-1-year-2015.sqlite
Done.

[('California', 12896357, 64500)]

In [48]:
%%sql
SELECT name, row_number() OVER (ORDER BY per_capita_income)
FROM states

 * sqlite:///acs-1-year-2015.sqlite
Done.

[('Puerto Rico', 1),
 ('Mississippi', 2),
 ('Arkansas', 3),
 ('West Virginia', 4),
 ('Alabama', 5),
 ('Kentucky', 6),
 ('New Mexico', 7),
 ('Louisiana', 8),
 ('South Carolina', 9),
 ('Tennessee', 10),
 ('North Carolina', 11),
 ('Idaho', 12),
 ('Oklahoma', 13),
 ('Florida', 14),
 ('Montana', 15),
 ('Missouri', 16),
 ('Indiana', 17),
 ('Ohio', 18),
 ('Michigan', 19),
 ('Georgia', 20),
 ('Arizona', 21),
 ('Maine', 22),
 ('Nevada', 23),
 ('South Dakota', 24),
 ('Kansas', 25),
 ('Oregon', 26),
 ('Iowa', 27),
 ('Nebraska', 28),
 ('Wisconsin', 29),
 ('Texas', 30),
 ('Pennsylvania', 31),
 ('Vermont', 32),
 ('Rhode Island', 33),
 ('Illinois', 34),
 ('Wyoming', 35),
 ('North Dakota', 36),
 ('New York', 37),
 ('Delaware', 38),
 ('Utah', 39),
 ('Minnesota', 40),
 ('Colorado', 41),
 ('Washington', 42),
 ('California', 43),
 ('Virginia', 44),
 ('New Hampshire', 45),
 ('Massachusetts', 46),
 ('Connecticut', 47),
 ('New Jersey', 48),
 ('Alaska', 49),
 ('Hawaii', 50),
 ('District of Columbia', 51),
 ('Maryland', 52)]

In [49]:
%%sql
SELECT name, row_number() OVER (ORDER BY per_capita_income DESC)
FROM states

 * sqlite:///acs-1-year-2015.sqlite
Done.

[('Maryland', 1),
 ('District of Columbia', 2),
 ('Hawaii', 3),
 ('Alaska', 4),
 ('New Jersey', 5),
 ('Connecticut', 6),
 ('Massachusetts', 7),
 ('New Hampshire', 8),
 ('Virginia', 9),
 ('California', 10),
 ('Washington', 11),
 ('Colorado', 12),
 ('Minnesota', 13),
 ('Utah', 14),
 ('Delaware', 15),
 ('New York', 16),
 ('North Dakota', 17),
 ('Wyoming', 18),
 ('Illinois', 19),
 ('Rhode Island', 20),
 ('Vermont', 21),
 ('Pennsylvania', 22),
 ('Texas', 23),
 ('Wisconsin', 24),
 ('Nebraska', 25),
 ('Iowa', 26),
 ('Oregon', 27),
 ('Kansas', 28),
 ('South Dakota', 29),
 ('Nevada', 30),
 ('Maine', 31),
 ('Arizona', 32),
 ('Georgia', 33),
 ('Michigan', 34),
 ('Ohio', 35),
 ('Indiana', 36),
 ('Missouri', 37),
 ('Montana', 38),
 ('Florida', 39),
 ('Oklahoma', 40),
 ('Idaho', 41),
 ('North Carolina', 42),
 ('Tennessee', 43),
 ('South Carolina', 44),
 ('Louisiana', 45),
 ('New Mexico', 46),
 ('Kentucky', 47),
 ('Alabama', 48),
 ('West Virginia', 49),
 ('Arkansas', 50),
 ('Mississippi', 51),
 ('Puerto Rico', 52)]

In [51]:
%%sql
SELECT name, row_number() OVER (ORDER BY per_capita_income DESC) AS wealth_rank
FROM states
LIMIT 10

 * sqlite:///acs-1-year-2015.sqlite
Done.

[('Maryland', 1),
 ('District of Columbia', 2),
 ('Hawaii', 3),
 ('Alaska', 4),
 ('New Jersey', 5),
 ('Connecticut', 6),
 ('Massachusetts', 7),
 ('New Hampshire', 8),
 ('Virginia', 9),
 ('California', 10)]

In [52]:
%%sql
SELECT *
FROM (
SELECT name, row_number() OVER (ORDER BY per_capita_income DESC) AS wealth_rank
FROM states
)
WHERE name = 'California'

 * sqlite:///acs-1-year-2015.sqlite
Done.

[('California', 10)]

In [53]:
%%sql
SELECT name, row_number() OVER (ORDER BY per_capita_income DESC) AS wealth_rank
FROM states
WHERE name = 'California'

 * sqlite:///acs-1-year-2015.sqlite
Done.

[('California', 1)]

In [54]:
%%sql
SELECT name
FROM states
WHERE name IN ('Puerto Rico', 'Hawaii')

 * sqlite:///acs-1-year-2015.sqlite
Done.

[('Hawaii',), ('Puerto Rico',)]

In [56]:
%%sql
SELECT name
FROM states
WHERE name LIKE 'M%'

 * sqlite:///acs-1-year-2015.sqlite
Done.

[('Maine',),
 ('Maryland',),
 ('Massachusetts',),
 ('Michigan',),
 ('Minnesota',),
 ('Mississippi',),
 ('Missouri',),
 ('Montana',)]

In [57]:
%%sql
SELECT name
FROM states
WHERE name LIKE 'm%'

 * sqlite:///acs-1-year-2015.sqlite
Done.

[('Maine',),
 ('Maryland',),
 ('Massachusetts',),
 ('Michigan',),
 ('Minnesota',),
 ('Mississippi',),
 ('Missouri',),
 ('Montana',)]

In [58]:
%%sql
SELECT NAME
FROM states
LIMIT 5

 * sqlite:///acs-1-year-2015.sqlite
Done.

[('Alabama',), ('Alaska',), ('Arizona',), ('Arkansas',), ('California',)]

In [59]:
%%sql
SELECT name
FROM states
WHERE name LIKE '%m%'

 * sqlite:///acs-1-year-2015.sqlite
Done.

[('Alabama',),
 ('District of Columbia',),
 ('Maine',),
 ('Maryland',),
 ('Massachusetts',),
 ('Michigan',),
 ('Minnesota',),
 ('Mississippi',),
 ('Missouri',),
 ('Montana',),
 ('New Hampshire',),
 ('New Mexico',),
 ('Oklahoma',),
 ('Vermont',),
 ('Wyoming',)]

In [60]:
%%sql
SELECT name
FROM states
WHERE name LIKE '%m'

 * sqlite:///acs-1-year-2015.sqlite
Done.

[]

In [61]:
%%sql
SELECT name
FROM states
WHERE name LIKE '%d'

 * sqlite:///acs-1-year-2015.sqlite
Done.

[('Maryland',), ('Rhode Island',)]

In [62]:
%%sql
SELECT *
FROM congressional_districts
LIMIT 2

 * sqlite:///acs-1-year-2015.sqlite
Done.

[(2015, 'Congressional District 1 (114th Congress), Alabama', '50000US0101', 706302, 459077, 198856, 21301, 8928, 7576, 0, 2145, 39.4, 256397, 133500, 44535, 44535, 120340, 18692, '01', '01'),
 (2015, 'Congressional District 2 (114th Congress), Alabama', '50000US0102', 686622, 427396, 216982, 20532, 6608, 1696, 303, 382, 38.0, 258887, 123900, 42395, 42395, 131410, 19168, '01', '02')]

In [64]:
%%sql
SELECT *
FROM states
JOIN congressional_districts
ON states.state = congressional_districts.state
LIMIT 5

 * sqlite:///acs-1-year-2015.sqlite
Done.

[(2015, 'Alabama', '04000US01', 4858979, 3204076, 1296681, 192870, 58918, 19069, 2566, 5590, 38.7, 1846390, 134100, 44765, 44765, 876016, 169972, '01', 2015, 'Congressional District 1 (114th Congress), Alabama', '50000US0101', 706302, 459077, 198856, 21301, 8928, 7576, 0, 2145, 39.4, 256397, 133500, 44535, 44535, 120340, 18692, '01', '01'),
 (2015, 'Alabama', '04000US01', 4858979, 3204076, 1296681, 192870, 58918, 19069, 2566, 5590, 38.7, 1846390, 134100, 44765, 44765, 876016, 169972, '01', 2015, 'Congressional District 2 (114th Congress), Alabama', '50000US0102', 686622, 427396, 216982, 20532, 6608, 1696, 303, 382, 38.0, 258887, 123900, 42395, 42395, 131410, 19168, '01', '02'),
 (2015, 'Alabama', '04000US01', 4858979, 3204076, 1296681, 192870, 58918, 19069, 2566, 5590, 38.7, 1846390, 134100, 44765, 44765, 876016, 169972, '01', 2015, 'Congressional District 3 (114th Congress), Alabama', '50000US0103', 703986, 479091, 176836, 21104, 10658, 1627, 92, 295, 38.5, 268218, 124700, 42171, 42171, 134247, 21649, '01', '03'),
 (2015, 'Alabama', '04000US01', 4858979, 3204076, 1296681, 192870, 58918, 19069, 2566, 5590, 38.7, 1846390, 134100, 44765, 44765, 876016, 169972, '01', 2015, 'Congressional District 4 (114th Congress), Alabama', '50000US0104', 684685, 574436, 48879, 43398, 2811, 2623, 713, 274, 40.5, 260023, 109800, 39608, 39608, 133258, 26110, '01', '04'),
 (2015, 'Alabama', '04000US01', 4858979, 3204076, 1296681, 192870, 58918, 19069, 2566, 5590, 38.7, 1846390, 134100, 44765, 44765, 876016, 169972, '01', 2015, 'Congressional District 5 (114th Congress), Alabama', '50000US0105', 708972, 516031, 123324, 35846, 11638, 3320, 315, 1177, 39.8, 279670, 151300, 51531, 51531, 104900, 31730, '01', '05')]

Types of joins:
* INNER JOIN (only rows that are found in both tables)
* LEFT JOIN (all rows from left table, even if no match in right table)
* RIGHT JOIN (all rows from right table, even if no match from left table)
* OUTER JOIN (all rows from both tables regardless of match)
* CROSS JOIN (all possible ways to match rows from left and right tables--result is len(left table) * len(right table))

In [65]:
%%sql
SELECT *
FROM states AS s
JOIN congressional_districts AS cd
ON s.state = cd.state
LIMIT 5

 * sqlite:///acs-1-year-2015.sqlite
Done.

[(2015, 'Alabama', '04000US01', 4858979, 3204076, 1296681, 192870, 58918, 19069, 2566, 5590, 38.7, 1846390, 134100, 44765, 44765, 876016, 169972, '01', 2015, 'Congressional District 1 (114th Congress), Alabama', '50000US0101', 706302, 459077, 198856, 21301, 8928, 7576, 0, 2145, 39.4, 256397, 133500, 44535, 44535, 120340, 18692, '01', '01'),
 (2015, 'Alabama', '04000US01', 4858979, 3204076, 1296681, 192870, 58918, 19069, 2566, 5590, 38.7, 1846390, 134100, 44765, 44765, 876016, 169972, '01', 2015, 'Congressional District 2 (114th Congress), Alabama', '50000US0102', 686622, 427396, 216982, 20532, 6608, 1696, 303, 382, 38.0, 258887, 123900, 42395, 42395, 131410, 19168, '01', '02'),
 (2015, 'Alabama', '04000US01', 4858979, 3204076, 1296681, 192870, 58918, 19069, 2566, 5590, 38.7, 1846390, 134100, 44765, 44765, 876016, 169972, '01', 2015, 'Congressional District 3 (114th Congress), Alabama', '50000US0103', 703986, 479091, 176836, 21104, 10658, 1627, 92, 295, 38.5, 268218, 124700, 42171, 42171, 134247, 21649, '01', '03'),
 (2015, 'Alabama', '04000US01', 4858979, 3204076, 1296681, 192870, 58918, 19069, 2566, 5590, 38.7, 1846390, 134100, 44765, 44765, 876016, 169972, '01', 2015, 'Congressional District 4 (114th Congress), Alabama', '50000US0104', 684685, 574436, 48879, 43398, 2811, 2623, 713, 274, 40.5, 260023, 109800, 39608, 39608, 133258, 26110, '01', '04'),
 (2015, 'Alabama', '04000US01', 4858979, 3204076, 1296681, 192870, 58918, 19069, 2566, 5590, 38.7, 1846390, 134100, 44765, 44765, 876016, 169972, '01', 2015, 'Congressional District 5 (114th Congress), Alabama', '50000US0105', 708972, 516031, 123324, 35846, 11638, 3320, 315, 1177, 39.8, 279670, 151300, 51531, 51531, 104900, 31730, '01', '05')]

In [66]:
%%sql
SELECT s.name, COUNT(*) AS num_of_districts
FROM states AS s
JOIN congressional_districts AS cd
ON s.state = cd.state
GROUP BY s.name

 * sqlite:///acs-1-year-2015.sqlite
Done.

[('Alabama', 7),
 ('Alaska', 1),
 ('Arizona', 9),
 ('Arkansas', 4),
 ('California', 53),
 ('Colorado', 7),
 ('Connecticut', 5),
 ('Delaware', 1),
 ('District of Columbia', 1),
 ('Florida', 27),
 ('Georgia', 14),
 ('Hawaii', 2),
 ('Idaho', 2),
 ('Illinois', 18),
 ('Indiana', 9),
 ('Iowa', 4),
 ('Kansas', 4),
 ('Kentucky', 6),
 ('Louisiana', 6),
 ('Maine', 2),
 ('Maryland', 8),
 ('Massachusetts', 9),
 ('Michigan', 14),
 ('Minnesota', 8),
 ('Mississippi', 4),
 ('Missouri', 8),
 ('Montana', 1),
 ('Nebraska', 3),
 ('Nevada', 4),
 ('New Hampshire', 2),
 ('New Jersey', 12),
 ('New Mexico', 3),
 ('New York', 27),
 ('North Carolina', 13),
 ('North Dakota', 1),
 ('Ohio', 16),
 ('Oklahoma', 5),
 ('Oregon', 5),
 ('Pennsylvania', 18),
 ('Puerto Rico', 1),
 ('Rhode Island', 2),
 ('South Carolina', 7),
 ('South Dakota', 1),
 ('Tennessee', 9),
 ('Texas', 36),
 ('Utah', 4),
 ('Vermont', 1),
 ('Virginia', 11),
 ('Washington', 10),
 ('West Virginia', 3),
 ('Wisconsin', 8),
 ('Wyoming', 1)]

In [68]:
%%sql
SELECT MIN(total_households)
FROM states

 * sqlite:///acs-1-year-2015.sqlite
Done.

[('Wyoming', 228937)]

In [69]:
%%sql
SELECT AVG(total_households)
FROM states

 * sqlite:///acs-1-year-2015.sqlite
Done.

[(2296732.7115384615,)]

In [74]:
%%sql
SELECT NTILE(100) OVER (ORDER BY total_households) AS hh_ntile,
total_households, name
FROM states

 * sqlite:///acs-1-year-2015.sqlite
Done.

[(1, 228937, 'Wyoming'),
 (2, 250185, 'Alaska'),
 (3, 254865, 'Vermont'),
 (4, 281787, 'District of Columbia'),
 (5, 313475, 'North Dakota'),
 (6, 339437, 'South Dakota'),
 (7, 352595, 'Delaware'),
 (8, 407484, 'Rhode Island'),
 (9, 414804, 'Montana'),
 (10, 445936, 'Hawaii'),
 (11, 517615, 'New Hampshire'),
 (12, 545226, 'Maine'),
 (13, 597421, 'Idaho'),
 (14, 734536, 'West Virginia'),
 (15, 744159, 'Nebraska'),
 (16, 761797, 'New Mexico'),
 (17, 930980, 'Utah'),
 (18, 1042065, 'Nevada'),
 (19, 1104371, 'Mississippi'),
 (20, 1111582, 'Kansas'),
 (21, 1144663, 'Arkansas'),
 (22, 1221851, 'Puerto Rico'),
 (23, 1247249, 'Iowa'),
 (24, 1343703, 'Connecticut'),
 (25, 1465951, 'Oklahoma'),
 (26, 1553205, 'Oregon'),
 (27, 1716168, 'Kentucky'),
 (28, 1737908, 'Louisiana'),
 (29, 1846390, 'Alabama'),
 (30, 1857768, 'South Carolina'),
 (31, 2074735, 'Colorado'),
 (32, 2147262, 'Minnesota'),
 (33, 2177934, 'Maryland'),
 (34, 2319538, 'Wisconsin'),
 (35, 2374180, 'Missouri'),
 (36, 2463008, 'Arizona'),
 (37, 2515143, 'Indiana'),
 (38, 2530260, 'Tennessee'),
 (39, 2559951, 'Massachusetts'),
 (40, 2728573, 'Washington'),
 (41, 3106895, 'Virginia'),
 (42, 3187963, 'New Jersey'),
 (43, 3656407, 'Georgia'),
 (44, 3843745, 'North Carolina'),
 (45, 3858532, 'Michigan'),
 (46, 4606655, 'Ohio'),
 (47, 4794523, 'Illinois'),
 (48, 4956037, 'Pennsylvania'),
 (49, 7233694, 'New York'),
 (50, 7463184, 'Florida'),
 (51, 9421412, 'Texas'),
 (52, 12896357, 'California')]