# Assignment 6
## By Tyler Trotter

1. Download the acs-1-year-2015.sqlite file and load it in Jupyter using slite

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///acs-1-year-2015.sqlite
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [4]:
%%sql
SELECT name FROM sqlite_master  
WHERE type = 'table'

 * sqlite:///acs-1-year-2015.sqlite
Done.

[('states',), ('congressional_districts',), ('places',)]

2.1 How many congressional districts are there in each state?

In [12]:
%%sql
SELECT s.name AS state, COUNT(DISTINCT cd.name) AS num_districts
FROM states AS s
JOIN congressional_districts AS cd ON s.state = cd.state
GROUP BY s.name

 * sqlite:///acs-1-year-2015.sqlite
Done.

[('Alabama', 7),
 ('Alaska', 1),
 ('Arizona', 9),
 ('Arkansas', 4),
 ('California', 53),
 ('Colorado', 7),
 ('Connecticut', 5),
 ('Delaware', 1),
 ('District of Columbia', 1),
 ('Florida', 27),
 ('Georgia', 14),
 ('Hawaii', 2),
 ('Idaho', 2),
 ('Illinois', 18),
 ('Indiana', 9),
 ('Iowa', 4),
 ('Kansas', 4),
 ('Kentucky', 6),
 ('Louisiana', 6),
 ('Maine', 2),
 ('Maryland', 8),
 ('Massachusetts', 9),
 ('Michigan', 14),
 ('Minnesota', 8),
 ('Mississippi', 4),
 ('Missouri', 8),
 ('Montana', 1),
 ('Nebraska', 3),
 ('Nevada', 4),
 ('New Hampshire', 2),
 ('New Jersey', 12),
 ('New Mexico', 3),
 ('New York', 27),
 ('North Carolina', 13),
 ('North Dakota', 1),
 ('Ohio', 16),
 ('Oklahoma', 5),
 ('Oregon', 5),
 ('Pennsylvania', 18),
 ('Puerto Rico', 1),
 ('Rhode Island', 2),
 ('South Carolina', 7),
 ('South Dakota', 1),
 ('Tennessee', 9),
 ('Texas', 36),
 ('Utah', 4),
 ('Vermont', 1),
 ('Virginia', 11),
 ('Washington', 10),
 ('West Virginia', 3),
 ('Wisconsin', 8),
 ('Wyoming', 1)]

2.2 What is the average number of black poeple per congressional district in Florida?


Solution took me a bit of research since it bothered me the table wasn't ordered by district number. My original query was: 
* %%sql
* SELECT cd.name AS district, AVG(100.0 * cd.black / cd.total_population) AS percent_black
* FROM congressional_districts AS cd
* WHERE cd.name LIKE '%Florida%'
* GROUP BY cd.name

In [24]:
%%sql
SELECT 
    cd.name AS district, 
    AVG(100.0 * cd.black / cd.total_population) AS percent_black
FROM congressional_districts AS cd
WHERE cd.name LIKE '%Florida%'
GROUP BY cd.name
ORDER BY 
    CAST(
        SUBSTR(
            cd.name,
            INSTR(cd.name, 'District ') + 9,
            INSTR(SUBSTR(cd.name, INSTR(cd.name, 'District ') + 9), ' ') - 1
        )
    AS INTEGER)

 * sqlite:///acs-1-year-2015.sqlite
Done.

[('Congressional District 1 (114th Congress), Florida', 12.849167962840646),
 ('Congressional District 2 (114th Congress), Florida', 24.73999997215156),
 ('Congressional District 3 (114th Congress), Florida', 13.539082380513241),
 ('Congressional District 4 (114th Congress), Florida', 14.601028766560765),
 ('Congressional District 5 (114th Congress), Florida', 49.01745917564724),
 ('Congressional District 6 (114th Congress), Florida', 9.25988880672927),
 ('Congressional District 7 (114th Congress), Florida', 9.301472032200788),
 ('Congressional District 8 (114th Congress), Florida', 9.50042832940584),
 ('Congressional District 9 (114th Congress), Florida', 10.5097623939215),
 ('Congressional District 10 (114th Congress), Florida', 12.17913909301287),
 ('Congressional District 11 (114th Congress), Florida', 7.802328767308178),
 ('Congressional District 12 (114th Congress), Florida', 4.7752076482490144),
 ('Congressional District 13 (114th Congress), Florida', 5.250764555873645),
 ('Congressional District 14 (114th Congress), Florida', 25.11023979032555),
 ('Congressional District 15 (114th Congress), Florida', 12.531436353053582),
 ('Congressional District 16 (114th Congress), Florida', 6.8198815911967445),
 ('Congressional District 17 (114th Congress), Florida', 9.43451998801575),
 ('Congressional District 18 (114th Congress), Florida', 12.877058078039859),
 ('Congressional District 19 (114th Congress), Florida', 7.68442014293352),
 ('Congressional District 20 (114th Congress), Florida', 52.67034487070279),
 ('Congressional District 21 (114th Congress), Florida', 13.195470276658154),
 ('Congressional District 22 (114th Congress), Florida', 11.009007232624311),
 ('Congressional District 23 (114th Congress), Florida', 10.892562905554248),
 ('Congressional District 24 (114th Congress), Florida', 52.577420487972304),
 ('Congressional District 25 (114th Congress), Florida', 4.993962078717765),
 ('Congressional District 26 (114th Congress), Florida', 9.155438060438195),
 ('Congressional District 27 (114th Congress), Florida', 6.843644778062845)]

2.3 What is the total number of households who live in a "place" that has a name containing the letters "q" or "x"?

In [ ]:
%%sql
SELECT SUM(p.total_households) AS total_households_in_place_with_p_or_x
FROM places AS p
WHERE p.name LIKE '%p%' OR p.name LIKE '%x%'

 * sqlite:///acs-1-year-2015.sqlite
Done.

[(13883276,)]

In [38]:
%%sql
SELECT DISTINCT(p.place) AS place, p.name AS location, p.total_households
FROM places AS p
WHERE p.name LIKE '%x%' OR p.name LIKE'%p%'

 * sqlite:///acs-1-year-2015.sqlite
Done.

[('03000', 'Anchorage municipality, Alaska', 104936),
 ('10670', 'Casas Adobes CDP, Arizona', 28703),
 ('54050', 'Peoria city, Arizona', 57095),
 ('55000', 'Phoenix city, Arizona', 534199),
 ('64210', 'San Tan Valley CDP, Arizona', None),
 ('71510', 'Surprise city, Arizona', 44180),
 ('73000', 'Tempe city, Arizona', 67325),
 ('66080', 'Springdale city, Arkansas', 26151),
 ('02364', 'Apple Valley town, California', 23644),
 ('02553', 'Arden-Arcade CDP, California', 43562),
 ('03666', 'Baldwin Park city, California', 18541),
 ('08786', 'Buena Park city, California', 23264),
 ('11390', 'Carmichael CDP, California', 25951),
 ('15044', 'Compton city, California', 23978),
 ('20802', 'East Los Angeles CDP, California', 31853),
 ('24477', 'Florence-Graham CDP, California', 14511),
 ('33434', 'Hesperia city, California', 26458),
 ('37692', 'Jurupa Valley city, California', 25741),
 ('47766', 'Milpitas city, California', 22756),
 ('50258', 'Napa city, California', 27905),
 ('51182', 'Newport Beach city, California', 36146),
 ('54652', 'Oxnard city, California', 50396),
 ('55156', 'Palmdale city, California', 44629),
 ('55282', 'Palo Alto city, California', 26030),
 ('56000', 'Pasadena city, California', 52636),
 ('56700', 'Perris city, California', 15614),
 ('57456', 'Pittsburg city, California', 21934),
 ('57792', 'Pleasanton city, California', 27610),
 ('58072', 'Pomona city, California', 40843),
 ('81344', 'Upland city, California', 27427),
 ('16000', 'Colorado Springs city, Colorado', 181690),
 ('36410', 'Highlands Ranch CDP, Colorado', 37655),
 ('62000', 'Pueblo city, Colorado', 43203),
 ('08000', 'Bridgeport city, Connecticut', 49811),
 ('00410', 'Alafaya CDP, Florida', 28974),
 ('08150', 'Brandon CDP, Florida', 41955),
 ('10275', 'Cape Coral city, Florida', 61251),
 ('14400', 'Coral Springs city, Florida', 40825),
 ('36100', 'Kendall CDP, Florida', 26911),
 ('39925', 'Lehigh Acres CDP, Florida', 33574),
 ('54000', 'Palm Bay city, Florida', 38113),
 ('54200', 'Palm Coast city, Florida', 29739),
 ('55775', 'Pembroke Pines city, Florida', 56409),
 ('56825', 'Pine Hills CDP, Florida', 23027),
 ('57425', 'Plantation city, Florida', 33712),
 ('57900', 'Poinciana CDP, Florida', None),
 ('58050', 'Pompano Beach city, Florida', 40375),
 ('58715', 'Port St. Lucie city, Florida', 61310),
 ('60950', 'Riverview CDP, Florida', 27869),
 ('63000', 'St. Petersburg city, Florida', 103788),
 ('68350', 'Spring Hill CDP, Florida', 39446),
 ('71000', 'Tampa city, Florida', 144582),
 ('71625', 'The Villages CDP, Florida', None),
 ('72145', "Town 'n' Country CDP, Florida", 30176),
 ('76600', 'West Palm Beach city, Florida', 41168),
 ('68516', 'Sandy Springs city, Georgia', 43687),
 ('71550', 'Urban Honolulu CDP, Hawaii', 126072),
 ('56260', 'Nampa city, Idaho', 29557),
 ('12385', 'Champaign city, Illinois', 34843),
 ('51622', 'Naperville city, Illinois', 52329),
 ('57225', 'Palatine village, Illinois', 25724),
 ('59000', 'Peoria city, Illinois', 47756),
 ('72000', 'Springfield city, Illinois', 51364),
 ('36003', 'Indianapolis city (balance), Indiana', 328431),
 ('12000', 'Cedar Rapids city, Iowa', 54931),
 ('19000', 'Davenport city, Iowa', 41684),
 ('73335', 'Sioux City city, Iowa', 31015),
 ('53775', 'Overland Park city, Kansas', 77006),
 ('71000', 'Topeka city, Kansas', 52958),
 ('46027', 'Lexington-Fayette urban county, Kentucky', 129088),
 ('50115', 'Metairie CDP, Louisiana', 61045),
 ('70000', 'Shreveport city, Louisiana', 75823),
 ('60545', 'Portland city, Maine', 30427),
 ('19125', 'Columbia CDP, Maryland', 38325),
 ('26000', 'Ellicott City CDP, Maryland', 25724),
 ('32025', 'Germantown CDP, Maryland', 28527),
 ('32650', 'Glen Burnie CDP, Maryland', 26890),
 ('72450', 'Silver Spring CDP, Maryland', 31646),
 ('81175', 'Waldorf CDP, Maryland', 27896),
 ('24960', 'Framingham CDP, Massachusetts', 27179),
 ('67000', 'Springfield city, Massachusetts', 53030),
 ('34000', 'Grand Rapids city, Michigan', 73488),
 ('07966', 'Brooklyn Park city, Minnesota', 27645),
 ('40166', 'Maple Grove city, Minnesota', None),
 ('43000', 'Minneapolis city, Minnesota', 173686),
 ('51730', 'Plymouth city, Minnesota', 30438),
 ('58000', 'St. Paul city, Minnesota', 113148),
 ('29700', 'Gulfport city, Mississippi', 27744),
 ('36000', 'Jackson city, Mississippi', 62092),
 ('35000', 'Independence city, Missouri', 49848),
 ('64550', 'St. Joseph city, Missouri', 27938),
 ('70000', 'Springfield city, Missouri', 73469),
 ('23770', 'Enterprise CDP, Nevada', 46803),
 ('54600', 'Paradise CDP, Nevada', 88699),
 ('68400', 'Sparks city, Nevada', 36485),
 ('68585', 'Spring Valley CDP, Nevada', 69315),
 ('71400', 'Sunrise Manor CDP, Nevada', 59206),
 ('45140', 'Manchester city, New Hampshire', 44840),
 ('50260', 'Nashua city, New Hampshire', 35027),
 ('56550', 'Passaic city, New Jersey', 19864),
 ('57000', 'Paterson city, New Jersey', 43147),
 ('73110', 'Toms River CDP, New Jersey', 31784),
 ('02000', 'Albuquerque city, New Mexico', 221855),
 ('39380', 'Las Cruces city, New Mexico', 38641),
 ('63460', 'Rio Rancho city, New Mexico', 32761),
 ('70500', 'Santa Fe city, New Mexico', 34179),
 ('08026', 'Brentwood CDP, New York', 12538),
 ('15000', 'Cheektowaga CDP, New York', 32554),
 ('31400', 'High Point city, North Carolina', 40124),
 ('61000', 'Parma city, Ohio', 32577),
 ('59000', 'Portland city, Oregon', 253820),
 ('02000', 'Allentown city, Pennsylvania', 43046),
 ('06088', 'Bethlehem city, Pennsylvania', 27723),
 ('24000', 'Erie city, Pennsylvania', 40914),
 ('60000', 'Philadelphia city, Pennsylvania', 581604),
 ('61000', 'Pittsburgh city, Pennsylvania', 131793),
 ('63624', 'Reading city, Pennsylvania', 28665),
 ('69000', 'Scranton city, Pennsylvania', 29947),
 ('54640', 'Pawtucket city, Rhode Island', 29451),
 ('59000', 'Providence city, Rhode Island', 60644),
 ('48535', 'Mount Pleasant town, South Carolina', 31982),
 ('52980', 'Rapid City city, South Dakota', 30363),
 ('59020', 'Sioux Falls city, South Dakota', 69613),
 ('40000', 'Knoxville city, Tennessee', 79736),
 ('48000', 'Memphis city, Tennessee', 250324),
 ('52006', 'Nashville-Davidson metropolitan government (balance), Tennessee', 265002),
 ('01000', 'Abilene city, Texas', 42507),
 ('01924', 'Allen city, Texas', 32204),
 ('03000', 'Amarillo city, Texas', 74766),
 ('04000', 'Arlington city, Texas', 132835),
 ('04462', 'Atascocita CDP, Texas', 24994),
 ('05000', 'Austin city, Texas', 364893),
 ('06128', 'Baytown city, Texas', 28893),
 ('07000', 'Beaumont city, Texas', 46133),
 ('10768', 'Brownsville city, Texas', 52309),
 ('10912', 'Bryan city, Texas', 30599),
 ('13024', 'Carrollton city, Texas', 47577),
 ('13552', 'Cedar Park city, Texas', 21212),
 ('15976', 'College Station city, Texas', 38409),
 ('16432', 'Conroe city, Texas', 25298),
 ('17000', 'Corpus Christi city, Texas', 117609),
 ('19000', 'Dallas city, Texas', 495362),
 ('19972', 'Denton city, Texas', 45529),
 ('22660', 'Edinburg city, Texas', 25073),
 ('24000', 'El Paso city, Texas', 222557),
 ('26232', 'Flower Mound town, Texas', 23575),
 ('27000', 'Fort Worth city, Texas', 285173),
 ('27684', 'Frisco city, Texas', 50480),
 ('29000', 'Garland city, Texas', 75582),
 ('30464', 'Grand Prairie city, Texas', 58919),
 ('32372', 'Harlingen city, Texas', 21447),
 ('35000', 'Houston city, Texas', 849974),
 ('37000', 'Irving city, Texas', 84684),
 ('39148', 'Killeen city, Texas', 51766),
 ('41464', 'Laredo city, Texas', 69026),
 ('41980', 'League City city, Texas', 35997),
 ('42508', 'Lewisville city, Texas', 37593),
 ('43888', 'Longview city, Texas', 30457),
 ('45000', 'Lubbock city, Texas', 91196),
 ('45384', 'McAllen city, Texas', 43578),
 ('45744', 'McKinney city, Texas', 55575),
 ('47892', 'Mesquite city, Texas', 48835),
 ('48072', 'Midland city, Texas', 47237),
 ('48768', 'Mission city, Texas', 23669),
 ('48804', 'Missouri City city, Texas', None),
 ('50820', 'New Braunfels city, Texas', 24211),
 ('52356', 'North Richland Hills city, Texas', 26068),
 ('53388', 'Odessa city, Texas', 40198),
 ('56000', 'Pasadena city, Texas', 51820),
 ('56348', 'Pearland city, Texas', 37073),
 ('57200', 'Pharr city, Texas', 20839),
 ('58016', 'Plano city, Texas', 106610),
 ('61796', 'Richardson city, Texas', 38816),
 ('63500', 'Round Rock city, Texas', 36819),
 ('64472', 'San Angelo city, Texas', 37817),
 ('65000', 'San Antonio city, Texas', 494344),
 ('70808', 'Sugar Land city, Texas', 29712),
 ('72176', 'Temple city, Texas', 27319),
 ('72656', 'The Woodlands CDP, Texas', 40446),
 ('74144', 'Tyler city, Texas', 38326),
 ('75428', 'Victoria city, Texas', 24575),
 ('76000', 'Waco city, Texas', 48448),
 ('79000', 'Wichita Falls city, Texas', 37173),
 ('62470', 'Provo city, Utah', 31821),
 ('01000', 'Alexandria city, Virginia', 69008),
 ('03000', 'Arlington CDP, Virginia', 103408),
 ('14440', 'Centreville CDP, Virginia', 24169),
 ('16000', 'Chesapeake city, Virginia', 83593),
 ('21088', 'Dale City CDP, Virginia', 19570),
 ('35000', 'Hampton city, Virginia', 53132),
 ('56000', 'Newport News city, Virginia', 70546),
 ('64000', 'Portsmouth city, Virginia', 36654),
 ('53545', 'Pasco city, Washington', 19606),
 ('67000', 'Spokane city, Washington', 87867),
 ('67167', 'Spokane Valley city, Washington', 39322),
 ('02375', 'Appleton city, Wisconsin', 29201),
 ('06593', 'Bayamn zona urbana, Puerto Rico', 63857),
 ('10334', 'Caguas zona urbana, Puerto Rico', 29813),
 ('14290', 'Carolina zona urbana, Puerto Rico', 56613),
 ('32522', 'Guaynabo zona urbana, Puerto Rico', 26494),
 ('52431', 'Mayagez zona urbana, Puerto Rico', 25907),
 ('63820', 'Ponce zona urbana, Puerto Rico', 43063),
 ('76770', 'San Juan zona urbana, Puerto Rico', 138436)]

2.4 What is the total income for each state?

In [50]:
%%sql
SELECT COUNT(s.state)
FROM states AS s

 * sqlite:///acs-1-year-2015.sqlite
Done.

[(52,)]

The extra two states are 'Puerto Rico' and 'District of Columbia', so we remove those. Note: The state number exceeds 50, but that is because some numbers are skipped (such as 07). I also looked up how to put it into a standard numerical format with a $-sign.

In [61]:
%%sql
SELECT s.name AS name, printf("$%, d", s.total_population * s.per_capita_income) AS formatted_state_income
FROM states AS s
WHERE s.name != 'Puerto Rico' AND s.name != 'District of Columbia'
ORDER BY s.total_population * s.per_capita_income DESC

 * sqlite:///acs-1-year-2015.sqlite
Done.

[('California', '$ 2,524,840,761,000'),
 ('Texas', '$ 1,528,738,601,442'),
 ('New York', '$ 1,204,573,882,350'),
 ('Florida', '$ 1,001,927,889,872'),
 ('Illinois', '$ 766,301,382,060'),
 ('Pennsylvania', '$ 713,125,022,106'),
 ('New Jersey', '$ 646,965,614,886'),
 ('Ohio', '$ 593,155,579,725'),
 ('Virginia', '$ 555,473,882,166'),
 ('Georgia', '$ 523,450,285,840'),
 ('Michigan', '$ 506,884,872,384'),
 ('North Carolina', '$ 480,347,219,660'),
 ('Massachusetts', '$ 479,876,437,016'),
 ('Washington', '$ 459,827,439,279'),
 ('Maryland', '$ 455,567,496,647'),
 ('Arizona', '$ 351,590,722,980'),
 ('Colorado', '$ 348,724,187,766'),
 ('Minnesota', '$ 348,523,343,872'),
 ('Indiana', '$ 334,505,669,760'),
 ('Wisconsin', '$ 321,105,648,006'),
 ('Tennessee', '$ 312,029,135,225'),
 ('Missouri', '$ 305,631,513,936'),
 ('Connecticut', '$ 256,195,352,556'),
 ('South Carolina', '$ 231,284,144,748'),
 ('Oregon', '$ 218,161,046,596'),
 ('Alabama', '$ 217,512,194,935'),
 ('Louisiana', '$ 213,578,196,348'),
 ('Kentucky', '$ 200,080,534,780'),
 ('Oklahoma', '$ 189,965,863,984'),
 ('Utah', '$ 188,479,256,128'),
 ('Iowa', '$ 170,989,735,664'),
 ('Kansas', '$ 156,954,919,746'),
 ('Nevada', '$ 151,569,894,195'),
 ('Arkansas', '$ 125,069,676,980'),
 ('Mississippi', '$ 121,467,773,469'),
 ('Hawaii', '$ 105,202,778,058'),
 ('Nebraska', '$ 104,282,865,240'),
 ('New Mexico', '$ 94,626,416,638'),
 ('New Hampshire', '$ 93,545,734,224'),
 ('Idaho', '$ 79,891,745,750'),
 ('West Virginia', '$ 77,488,414,432'),
 ('Maine', '$ 68,452,416,032'),
 ('Rhode Island', '$ 61,342,393,754'),
 ('Delaware', '$ 57,943,187,170'),
 ('Alaska', '$ 54,167,679,360'),
 ('Montana', '$ 51,140,272,041'),
 ('North Dakota', '$ 45,837,288,896'),
 ('South Dakota', '$ 45,513,450,973'),
 ('Vermont', '$ 35,678,133,580'),
 ('Wyoming', '$ 35,291,846,898')]